**/.git
**/.vscode
**/npm-debug.log
**/coverage
**/.env
**/.editorconfig
**/.aws
**/dist
**/.terraform.lock.hcl
**/.terraform/
**/*.tfstate*
**/*.pem
TODO.md
**/venv
**/.pluralith
vault-config-deprecated/
terraform-module/
READMEOLD.md